@model leave.Models.leave_mvc_328
@{
    ViewBag.Title = "register";
}

<h2>register</h2>
@using (Html.BeginForm())

{
    

        <div class="form-group">
            @Html.LabelFor(a => a.leave_start_date)
            <div>
                @Html.EditorFor(m => m.leave_start_date)
                @Html.ValidationMessageFor(a => a.leave_start_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.leave_end_date)
            <div>
                @Html.EditorFor(m => m.leave_end_date)
                @Html.ValidationMessageFor(a => a.leave_end_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.leave_type)
            <div>
                @Html.DropDownListFor(a => a.leave_type, new List<SelectListItem>() { new SelectListItem() { Text = "sick" } , new SelectListItem() { Text = "casual" } })
                @Html.ValidationMessageFor(a => a.leave_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.reason)
            <div>
                @Html.EditorFor(m => m.reason)
                @Html.ValidationMessageFor(a => a.reason)
            </div>
        </div>

      
      

        <div class="form-group">
            @Html.LabelFor(a => a.eid)
            <div>
                @Html.EditorFor(m => m.eid)
                @Html.ValidationMessageFor(a => a.eid)
            </div>
        </div>    

       
            
     

    


    <input type="submit" value="Register" />
}
            

